#hero > div{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 1.5rem;
    width: 70%;
    max-width: 500px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 10px 10px 1px;
    gap: 1rem;
}

.tools {
    width: 70%;
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
}

.tools img {
    width: 25px;
    height: 25px;
}

@media (max-width: 700px) {
    .tools {
        grid-template-columns: repeat(4, 1fr);

    }
}