

#hobbies > div {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgb(218, 38, 38);
    border: 1px solid black;
    box-shadow: 10px 10px 1px black;
    border-radius: 20px;
    gap: 1rem;
}

.hobbies_block {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hobbies_block p {
    margin-right: 1rem;
}

.disco_block {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 35, 32);
    border-radius: 70px 20px 20px 70px;
}

.disco_block  img {
    width: 200px;
    height: 200px;
    border-radius: 100%;

    margin-left: -23%
}

.disco_block img:first-child {
    margin-left: 0;
}

.disco_block img:nth-child(1) {
    z-index: 1;
}

.disco_block img:nth-child(2) {
    z-index: 2;
}
.disco_block img:nth-child(3) {
    z-index: 3;
}

.disco_block img:hover {
    transform: translateX(-25%);
    transition: transform 0.3s ease-in-out;
}

