#projects > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media (max-width: 768px) {
    #projects > div {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (max-width: 480px) {
    #projects > div {
        grid-template-columns: 1fr;
    }
    
}