#projects > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    gap: 1rem;
}


#projects li > label {
    display: block;
    border: 1px solid;
    width: 50px;
    border-radius: 20px;
    padding: 5px;
    background-color: var(--background-color);
    color: var(--font-color);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

#projects li > label:hover {
    background-color: color-mix(in srgb, var(--background-color), #000000 20%);
}

.dark #projects li > label:hover {
    background-color: color-mix(in srgb, var(--background-color), #ffffff 20%);
}

#projects li > label:has(input:checked) {
    background-color: var(--primary-color)
}

#projects li > label:has(input:checked):hover {
    background-color: color-mix(in srgb, var(--primary-color), #000000 20%);
}

.dark #projects li > label:has(input:checked):hover {
    background-color: color-mix(in srgb, var(--primary-color), #fffdfd 20%);
}

#projects li > label > input {
    display: none;
}

#projects > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}


@media (max-width: 768px) {
    #projects > div {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (max-width: 480px) {
    #projects > ul {
        grid-template-columns: repeat(2, 1fr);
    }
    #projects > div {
        grid-template-columns: 1fr;
    }

    
}