:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: 'Arial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
}

#root {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between;  */
}

header {
}

main {
    min-height: 85%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
}