:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: 'Arial', sans-serif;
    --font-color: #050505;
    --background-color: #fdfbf9;
}
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--font-color);
    background-color: white;
    font-family: var(--font-family);
}

#root {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    /* justify-content: space-between;  */
}



main {
    min-height: 85%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}

section {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    scroll-margin-top: 80px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 5%;
}
